<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs4mpZoffaUlnnnjNbDmM_5WS_aYohpF8</string>
	<key>GCM_SENDER_ID</key>
	<string>298538735076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koester-ventures.CWA</string>
	<key>PROJECT_ID</key>
	<string>the-cwa</string>
	<key>STORAGE_BUCKET</key>
	<string>the-cwa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298538735076:ios:dba3fdbc9391c3e353e3f1</string>
	<key>DATABASE_URL</key>
	<string>https://the-cwa-default-rtdb.firebaseio.com</string>
</dict>
</plist>
